<div class="content">
    <h1>Configurações</h1>

    <form method="POST" class="myinline">
        <div class="form-horizontal" style="display: block;">
            <label for="discriminacao">Discriminação</label>
            <input type="text" name="discriminacao" value="" style="width: 429px;" ng-model="discriminacao">
        </div>

        <div class="form-horizontal">
            <label for="aliqinss">Alíquota INSS</label>
            <input type="text" name="aliqinss" ng-model="inss">

            <label for="aliqirrf">Alíquota IRFF</label>
            <input type="text" name="aliqirrf" ng-model="irrf">

            <label for="deducaoirrf">Dedução IRFF</label>
            <input type="text" name="deducaoirrf" value="">
        </div>

        <div class="form-horizontal">
            <label for="valordeducoes">Valor Deduções</label>
            <input type="text" name="valordeducoes" value="">

            <label for="estado">Estado</label>
            <input type="text" name="estado" ng-model="estado">

            <label for="codservico">Código do Serviço</label>
            <input type="text" name="codservico" value="">
        </div>

        <label for="observacao">Observação</label>
        <textarea 
            name="observacao" 
            rows="3" cols="40" 
            style="width: 429px;"
            ng-model="observacoes">
        </textarea>

        <div id="buttonbar">
            <a class="btn" ng-click="enviar()">Salvar</a>
            <a class="btn" href="#/">Cancelar</a>
        </div>

    </form>
</div>
