<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XML de notas fiscais</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
  </head>
<body ng-app="appNota">

        <div class="content disable-select" ng-view>
        </div>

        <div ng-show="baixando" id="baixando" class="messagebox" ng-controller="BaixandoCtrl">
            <div class="baixandoInner">
                {{nome}}    
                <div class="progress">
                    <div class="bar" style="width: {{progresso}}%;">
                    </div>
                </div>
            </div>
        </div>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>

</body>
</html>

