<div class="content">
    <div id="loading" class="loading" ng-show="loading">
        Carregando...
        <div>
            <img src="img/loading_bar.gif" />
        </div>
    </div>
    <h1>Gerar XML das notas fiscais</h1>
    <a id="configurar" href="#/config">Configurar</a>
    <form method="POST" class="myinline">
        <fieldset>
            <div class="form-horizontal">
                <label for="empresa">Empresa</label>
                <select name="empresa" 
                        ng-model="empresa_id" 
                        ng-options="empresa.id as empresa.fantasia for empresa in empresas"></select>
            </div>
            <div class="form-horizontal">
                <label for="vendedor">Vendedor</label>
                <select name="vendedor" ng-model="vendedor_id">
                    <option ng-repeat="vendedor in vendedores" value="{{vendedor.id}}">{{vendedor.id}} - {{vendedor.nome}}</option>
                </select>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="pg" value="pagos" ng-model="pagamento">
                    Pagos
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="pg" value="naopagos" ng-model="pagamento">
                    Não Pagos
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="pg" value="todos" ng-model="pagamento">
                    Todos
                </label>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-horizontal">
                <label for="datainicial">Pgto. inicial</label>
                <input type="text" dateformat ng-model="dataInicial" name="datainicial" class="data"> 
            </div>
            <div class="form-horizontal">
                <label for="datafinal">Pgto. Final</label>
                <input type="text" dateformat ng-model="dataFinal" name="datafinal" class="data"> 
                <button ng-click="listarTitulos()" ng-disabled="loading" class="btn btn-primary">Listar</button>
                <button ng-click="baixaXML()" ng-show="!loading && titulos" class="btn">Baixar XML</button>
            </div>
        </fieldset>
    </form>

    <div style="text-align: right">
        <span style="font-weight: bold">{{titulos.selecionados.quantidade}}</span> títulos selecionados| Total: 
        <span style="font-weight: bold">{{titulos.selecionados.total|formatavalor}}</span>
    </div>

    <table class="table table-condensed table-hover">
        <tr>
            <th>X</th>
            <th>Emissão</th>
            <th>Vencimento</th>
            <th>Nosso Número</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Valor</th>
        </tr>
        <tr ng-repeat="titulo in titulos.lista">
            <td><input type="checkbox" 
                       name="boletos[]" 
                       value="{{titulo.id}}" 
                       ng-checked="titulos.selecionados.indexOf(titulo.id) > -1"
                       ng-click="toggleSelection(titulo.id)"></td>
            <td>{{titulo.emissao|formatadata}}</td>
            <td>{{titulo.vencimento|formatadata}}</td>
            <td>{{titulo.nossonumero}}</td>
            <td>{{titulo.nome}}</td>
            <td>{{titulo.cpfcgc}}</td>
            <td>{{titulo.valor|formatavalor}}</td>
        </tr>
    </table>

    <iframe ng-src="{{notafiscal}}" id="hiddenDownload"></iframe>

    <div id="overlay" ng-show="baixando">
    </div>

</div>

